# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Test and coverage files
.coverage
*.egg-info/
dist/
build/

# Logs
*.log

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak

